:root{
  --main-bg-color: #F0F7DF;
}

body {
  display: flex;
  background: linear-gradient(135deg, #f0f7df, #a8dadc, #e63946);
  background-size: 100vw 130vh ;
  justify-content: center;
  font-family: Helvetica, Arial , sans-serif;
}


/* Header and Control Panel */

h1 {
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  /*background-color: #7FACC7;*/
  background-color:#F7FBEF;
  color:black;
  border: 1px solid #000000;
  border-bottom: none;  
  position: relative;
  width: 120%;
  right: 10%; 
  top: 4%;
  box-shadow: 0px 10px 10px #32597180
}

#controls{
  position: relative;
  margin-bottom: 5vh;
  display: flex;
  width: 120%;
  position: relative;
  right: 10%;
  /*background-color: #7FACC7;*/
  background-color:#F7FBEF;
  color:black;
  border: 1px solid #000000;
  border-top: none;
  height: auto;
  justify-content: center;
  box-shadow: 0px 10px 10px #32597180
}

#controls button {
  background-color: #E63946;
  color: white;
  border: 5px solid #EB5C68;
  border-radius: 5px;
  width: 30%;
  height: 50px;
  transition: all 250ms;
  position: relative;
  top: 15px;
}

#controls button:hover{
  background-color: #E94957;
}

#controls button:disabled{
  background-color: #e6394660;
  border: 3px solid #DA1B2B60;
  border-radius: 10px;
  color: #ffffff60;
}

.pDisplay{
  display: inline-block;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#controls .piece{
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,0);
  transition: all 250ms;
  animation: none;
  z-index: 1;
}

#controls .selected{
  border: 3px solid black;
}

/* game board table */


#board td {
  width: 50px;
  height: 50px;
  border: 1px solid #1D3557;
  outline: 2px solid #1D3557;
  background-image:url('slot.png');
  background-size: 100%; 
  transition: all 200ms;
}

#board td:hover {
  background-color: #f5864f80;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  position: relative;
  margin: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  animation: drop-in 0.5s forwards;
  -webkit-animation: drop-in 0.5s forwards;
  -moz-animation: drop-in 0.5s forwards;
  z-index: -1;
}

@keyframes drop-in {
  to {top:0%;}
}

@-moz-keyframes drop-in {
  to {top:0%;}
}

@-webkit-keyframes drop-in {
  to {top:0%;}
}

/* Match Result Announcer */
#matchResult{
  margin-top: 5vh;
  text-align: center;
  background-color: #ffffff60;
  border-radius: 10px;
  transition: all 500ms;
}

.fade-in{
  animation: fade-in 1s forwards;
  -webkit-animation: fade-in 1s forwards;
  -moz-animation: fade-in 1s forwards;
}

.fade-out{
  animation: fade-out 1s forwards;
  -webkit-animation: fade-out 1s forwards;
  -moz-animation: fade-out 1s forwards;
}

@keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fade-out{
  from{opacity: 1;}
  to{opacity: 0;}
}

@-moz-keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-moz-keyframes fade-out{
  from{opacity: 1;}
  to{opacity: 0;}
}

@-webkit-keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes fade-out{
  from{opacity: 1;}
  to{opacity: 0;}
}

/* column-top is table row of clickable areas for each column */
/* DEPREC
#column-top td {
  background-image: none;
  border: dashed 1px lightgray;
  transition: all 250ms;
}

#column-top td:hover {
  background-color: #e6394680;
}
*/