:root{
  --main-bg-color: #F0F7DF;
}

body {
  display: flex;
  background-color: var(--main-bg-color);
  justify-content: center;
  font-family: Helvetica, Arial , sans-serif
}

h1 {
  text-align: center;
  background-color: #A8DADC;
}

#controls{
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 100%;
  background-color: #457B9D;
  height: 25%;
  color: white;
}

#controls button {
  background-color: #E63946;
  color: white;
  border: none; 
  width: 30%;
  transition: all 250ms;
}

#controls button:disabled{
  background-color: #e6394660;
  color: #ffffff60;
}

.pDisplay{
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  margin-left: 5%;
  margin-right: 5%;
}

#controls .piece{
  width: 50px;
  height: 50px;
  border: 3px solid white;
}

#controls .selected{
  border: 3px solid green;
}

/* game board table */



#board td {
  width: 50px;
  height: 50px;
  border: 1px solid #1D3557;
  outline: 2px solid #1D3557;
  background-image:url('slot.png');
  background-color: var(--main-bg-color);;
  background-size: 100%; 
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  background-image: none;
  background-color: var(--main-bg-color);;
  border: dashed 1px lightgray;
  transition: all 250ms;
}

#column-top td:hover {
  background-color: #e6394680;
}
